<ng-include src="'app/home/header.html'"></ng-include>

<!-- Genres Listing starts-->
<div class="container">
	<div class="row">
		<!-- Add new track div starts-->
		<div>
			<button type="button" class="btn btn-warning add" ng-click="toggleAddTrack()">+ Add New Track</button>
			<div class="list-group-item add-form-track" ng-show="addTrackDisplay">
				<form>
				  <div class="form-group">
				    <label for="trackName">Add track name</label>
				    <input type="text" class="form-control" id="newTrackTitle" placeholder="Track name">
				  </div>	
				  <div class="form-group">	
				  	<label for="trackGenre">Select genre </label>			
				    <select ng-model="newTrackGenre" ng-options="genre.name for genre in genres">
						<option value="">{{genre.name}}</option>
					</select>
				  </div>
				  <div class="form-group">
				    <label for="trackRating">Add track rating</label>
				    <input type="text" class="form-control" id="newTrackRating" placeholder="Track rating">
				  </div>
				  <div class="confirm">
				  	<button type="button" class="btn btn-info" ng-click="addNewTrack()">Add</button>
				  </div>
				</form>
			</div>
		</div>
		<!-- Add new track div ends-->

		<!-- Tracks list holder div starts -->
		<div class="col-md-10 col-lg-10 tracks-holder">
			<ul class="list-group" ng-repeat="track in tracks">
				<li class="list-group-item">
					<span>Track Title: {{track.title}}</span>
					<div ng-if="track.genres.length > 0">Genres: {{track.genres.join(",")}}</div>
					<div>Rating: {{track.rating}}</div>
					<div class="edit-track-btn">
						<button type="button" class="btn btn-warning edit" data-toggle="modal" data-target="#edit-modal" ng-click="toggleEditTrack(track.id);">Edit</button>
					</div>
					<div class="play-track-btn">
						<button type="button" class="btn btn-success play" ng-click="playTrack(track.title, $index)">Play</button>
					</div>			
					<div class="img-holder" ng-if="showPlayer($index)">
						<img src="{{trackImage}}" class="img-responsive"></img>
					</div>									
				</li>
				<div ng-show="showPlayer($index)">
					<div class="play-track-btn">
						<button type="button" class="btn btn-warning play" ng-click='audio.paused ? audio.play() : audio.pause()'>| |</button>
					</div>	
					<div class="play-track-btn">
						<button type="button" class="btn btn-danger play" ng-click='audio.restart()'>Stop</button>
					</div>
					<div class="play-track-btn">	
						<button type="button" class="btn btn-info play" ng-click='audio.muting = !audio.muting'>Mute</button>
					</div>
					<div>	               
	                    <label>Volume</label>
	                    <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
	                    <label>Progress</label>
	                    <input class='form-control' type=range min=0 max=1 step=0.001 value=0 ng-model='audio.progress'>
                	</div>	
				</div>
				<!-- <div class="embed" ng-if="currentTrackIndex === $index">
				  <sound-cloud-player url="{{currentTrackPlaying}}"></sound-cloud-player>
				</div> -->				 

				<!-- edit track form -->
				<div class="list-group-item edit-form" ng-show="showEditTrack(track.id)">
					<form>
					  <div class="form-group">
					    <label for="trackName">Updated track name</label>
					    <input type="text" class="form-control" id="{{track.id}}" placeholder="Genre name">
					  </div>
					  <div class="confirm" style="text-align: center;">
					  	<button type="button" class="btn btn-info" ng-click="update(track.id)">Update</button>
					  </div>
					</form>
				</div>

			</ul>
			<div class="col-md-10 col-lg-10">
				<button type="button" class="btn btn-info" ng-if="prevUrl" ng-click="getTracksList(prevUrl)">Prev</button>
				<button type="button" class="btn btn-info" ng-if="nextUrl" ng-click="getTracksList(nextUrl)">Next</button>
			</div>
		</div>
		<!-- Tracks list holder div ends -->
	</div>
</div>
<!-- Genres Listing ends-->
