/*************** Common Styles *****************/
body {
	font-size: 18px;
}

iframe {
	height: 100px;
}
.container {
	height: 1000px;
	color: #555;
}

.load-more {
	width: 700px;
	height: 50px; 
	padding: 10px 10px;
	text-align: center; 
	font-size: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

/*************** Genres Styles *****************/
.genres-holder {
	height: 100%; 
	color: #555; 
	margin: 30px 0;
}

.genres-holder > .list-group > .list-group-item{
	width: 700px;
}

.edit-form {
	height: 200px;
}

.edit-form > form {
	padding: 20px 0;	
}

.edit,
.play {
	float: right; 
	line-height: 8px;
}

.add-form {
	width: 400px;
	height: 150px;
}

.add {
	margin: 10px 20px;
}

.confirm {
	text-align: center;
}

/*************** Tracks Styles *****************/
.tracks-holder {
	height: 100%; 
	color: #555; 
	margin: 30px 0;
}

.edit-track-btn,
.play-track-btn {
	display: inline-block;
	 margin: 10px 10px 0 0;
}

.add-form-track {
	width: 400px;
	height: 300px;
}

.img-holder {
	float: right; 
	height: 100px; 
	width: 100px; 
	margin: -67px 17px;
	margin: -6% 0;
}