<ng-include src="'app/home/header.html'"></ng-include>

<!-- Genres Listing starts-->
<div class="container">
	<div class="row">
		<div>
			<button type="button" class="btn btn-warning add" ng-click="toggleAddGenre()">+ Add New Genre</button>
			<div class="list-group-item add-form" ng-show="addGenreDisplay">
				<form>
				  <div class="form-group">
				    <label for="genreName">Add genre name</label>
				    <input type="text" class="form-control" id="newGenre" placeholder="Genre name">
				  </div>
				  <div class="confirm">
				  	<button type="button" class="btn btn-info" ng-click="addNewGenre()">Add</button>
				  </div>
				</form>
			</div>
		</div>
		<div class="col-md-10 col-lg-10 genres-holder">
			<ul class="list-group" ng-repeat="genre in genres">
				<li class="list-group-item">
					{{genre.name}}
					<button type="button" class="btn btn-warning edit" data-toggle="modal" data-target="#edit-modal" ng-click="toggleEditGenre(genre.id);">Edit</button>
				</li>

				<!-- edit genre form -->
				<div class="list-group-item edit-form" ng-show="showEditGenre(genre.id)">
					<form>
					  <div class="form-group">
					    <label for="genreName">Updated genre name</label>
					    <input type="text" class="form-control" id="{{genre.id}}" placeholder="Genre name">
					  </div>
					  <div class="confirm" style="text-align: center;">
					  	<button type="button" class="btn btn-info" ng-click="update(genre.id)">Update</button>
					  </div>
					</form>
				</div>

			</ul>
			<div class="col-md-10 col-lg-10">
				<button type="button" class="btn btn-info" ng-if="prevUrl" ng-click="getGenresList(prevUrl)">Prev</button>
				<button type="button" class="btn btn-info" ng-if="nextUrl" ng-click="getGenresList(nextUrl)">Next</button>
			</div>
		</div>
	</div>
</div>
<!-- Genres Listing ends-->
