<!-- Header Starts -->
<div class="row" style="height: 100px; width:auto; background-color: #008080; color: #fff;">
	<div class="header-content" style="padding: 30px 50px; float: left; font-size: 22px;">
		<span>Music WebApp</span>
	</div>
</div>
 <!-- Header Ends-->
 
 <!-- Navbar starts -->
<nav class="navbar navbar-default">
 	<div class="container-fluid">
    	<ul class="nav navbar-nav">
      		<li><a ui-sref="tracks">Tracks</a></li>
      		<li><a ui-sref="genres">Genres</a></li>		     
    	</ul>
  	</div>
</nav>
<!-- Navbar ends -->